/* Blue Theme */

.main {
  background: url(images/blue_bg.jpg) center/cover fixed;
}

@media (min-width: 992px) {
  .main {
    background-attachment: scroll;
  }
}

.color-overlay {
  background: linear-gradient(rgba(26, 214, 253, 0.6), rgba(29, 98, 240, 0.6));
}

.main-content .job {
  color: #1ad6fd;
}

.post .read-more-link {
  color: #1ad6fd;
}

.post .read-more-link:hover {
  color: rgba(26, 214, 253, 0.6);
}
