a {
	text-decoration: none;
}

body,
h1,
h2,
p {
	margin: 0;
}

.page {
	display: flex;
	flex-direction: column;
}

@media (min-width: 992px) {
	.page {
		flex-direction: row;
		height: 100vh;
	}
}


/* Main - left side */

.main {
	min-height: 50vh;
	/* Background is fixed with regard to the viewport. */
	background: url(images/bg.jpg) center/cover fixed;
	display: flex;
}

@media (min-width: 992px) {
	.main {
		/* Background is fixed with regard to the element itself and does not scroll with its contents. */
		background-attachment: scroll;
		/* Flex 1 evens out main content and posts */
		flex: 1;
	}
}

.color-overlay {
	flex-grow: 1;
	background: linear-gradient(rgba(198, 68, 252, .6), rgba(88, 86, 214, .6));
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.main-content {
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 576px;
	margin: 0 auto;
}


/* Name */

.main-content h1 {
	font: 2.4rem/1.4 Roboto;
	color: #DCE3EF;
	text-transform: capitalize;
}


/* Job */

.main-content h2 {
	font: 300 1.4rem/1.4 Roboto;
	color: #c644fc;
	text-transform: uppercase;
	margin-bottom: 2rem;
}

.main-content p {
	font: 300 1.1rem/1.4 Open Sans;
	color: #fff;
	margin-bottom: 2rem;
}

.main-content a {
	color: #26282a;
	font-weight: 600;
}


/* Removes margin bottom from the last paragraph */

.main-content p:last-child {
	margin-bottom: 0;
}


/* Posts - right side */

@media (min-width: 992px) {
	.posts {
		overflow-y: auto;
		/* Flex 1 evens out main content and posts */
		flex: 1;
	}
}

.posts-content {
	padding: 2rem;
}

@media (min-width: 992px) {
	.posts-content {
		padding: 20%;
	}
}

.posts .post {
	margin-bottom: 2rem;
}

@media (min-width: 992px) {
	.posts .post {
		margin-bottom: 20%;
	}
}

.posts .post a {
	cursor: pointer;
}


/* Removes margin bottom from the last post */

.posts .post:last-child {
	margin-bottom: 0;
}


/* Post date */

.post span {
	color: #4F5A63;
	text-transform: uppercase;
	font: 400 1rem/1.6 Roboto;
}


/* Post title */

.post h1 {
	color: #4F5A63;
	font: 100 1.8rem/1.4 Roboto;
}


/* Post intro */

.post p {
	font: 1rem/1.4 Open Sans;
	color: #6B7674;
	margin-bottom: 1rem;
}


/* "Read more" link */

.post a:last-child {
	color: #c644fc;
	font: 600 1rem/1.2 Open Sans;
	text-transform: uppercase;
	transition: color .34s ease;
}

.post a:last-child:hover {
	color: rgba(198, 68, 252, .6);
}