/* Default Theme */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body,
h1,
h2,
p {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

@media (min-width: 992px) {
  .page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
  }
}

.main {
  background: url(images/default_bg.jpg) center/cover fixed;
}

@media (min-width: 992px) {
  .main {
    background-attachment: scroll;
  }
}

.color-overlay {
  background: linear-gradient(rgba(198, 68, 252, 0.6), rgba(88, 86, 214, 0.6));
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.main-content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 576px;
  margin: 0 auto;
}

.main-content .name {
  font-size: 2.4rem;
  line-height: 1.4;
  color: #dce3ef;
  text-transform: capitalize;
}

.main-content .job {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.4;
  color: #c644fc;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.main-content p {
  font-size: 1.1rem;
  line-height: 1.4;
  color: #fff;
  margin-bottom: 2rem;
  align-self: flex-start;
}

.main-content a {
  color: #26282a;
  font-weight: 600;
}

.main-content p:last-child {
  margin-bottom: 0;
}

@media (min-width: 992px) {
  .posts {
    overflow-y: auto;
  }
}

.posts-content {
  padding: 2rem;
}

@media (min-width: 992px) {
  .posts-content {
    padding: 20%;
  }
}

.posts .post {
  margin-bottom: 2rem;
}

@media (min-width: 992px) {
  .posts .post {
    margin-bottom: 20%;
  }
}

.posts .post a {
  cursor: pointer;
}

.posts .post:last-child {
  margin-bottom: 0;
}

.post .date {
  color: #4f5a63;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
}

.post .title {
  color: #4f5a63;
  font-size: 1.8rem;
  line-height: 1.4;
}

.post .intro {
  font-size: 1rem;
  line-height: 1.4;
  color: #6b7674;
  margin-bottom: 1rem;
}

.post .read-more-link {
  color: #c644fc;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  transition: color 0.34s ease;
}

.post .read-more-link:hover {
  color: rgba(198, 68, 252, 0.6);
}
